# @package _global_

# 默认组件配置
defaults:
  - _self_
  - data: camus_multitask
  - model: gef
  - system: gef
  - override hydra/job_logging: default
  - override hydra/hydra_logging: default

# --- 全局参数 ---
seed: 3407
experiment_name: "HMC_GEF_Experiment_1"
test_after_training: True

# --- Hydra配置 ---
hydra:
  run:
    dir: outputs/${experiment_name}/${now:%Y-%m-%d_%H-%M-%S}

# --- 训练器配置 ---
trainer:
  _target_: pytorch_lightning.Trainer
  max_epochs: 500
  accelerator: "gpu"
  devices: [1]
  check_val_every_n_epoch: 1
  deterministic: True

# --- 日志记录器 ---
logger:
  _target_: pytorch_lightning.loggers.WandbLogger
  project: "GEF_Heart_Diagnosis"
  name: "${experiment_name}"

# --- 回调函数 ---
callbacks:
  model_checkpoint:
    _target_: pytorch_lightning.callbacks.ModelCheckpoint
    dirpath: "${hydra:run.dir}/checkpoints"
    filename: "epoch{epoch:02d}-val_auroc{val_auroc:.4f}"
    monitor: "val_accuracy"
    mode: "max"
    save_top_k: 1

  early_stopping:
    _target_: pytorch_lightning.callbacks.EarlyStopping
    monitor: "val_accuracy"
    patience: 100
    mode: "max"
